body {
  background-color: darkcyan;
}

img {
  max-width: 100%;
}

.plate {
  bottom: 130px;
  position: relative;
}

.ready-to-check {
  position: relative;
  bottom: -200px;
  background-color: green;
}

.grid-ingredients {
  grid-area: ingredients;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  background-image: url(./images/ingredients-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  overflow: hidden;
}

.grid-ingredients > button {
  background-color: transparent;
  border: 0px;
  position: relative;
}

.grid-plate > button {
  background-color: transparent;
  border: 0px;
  position: relative;
}

.grid-plate-template > button {
  position: relative;
}

.grid-plate {
  grid-area: plate;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-image: url(./images/plate-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  overflow: auto;
}
.grid-plate-template {
  grid-area: plate-template;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template:
    "ingredients . plate-template"
    "ingredients . plate-template"
    "ingredients plate plate"
    "ingredients plate plate"
    "ingredients plate plate";
  grid-gap: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

/* .bottom-bun {
  background-image: url(./images/bottom-bun.png);
}

.beef-patty {
  background-image: url(./images/beef-patty.png);
}

.cheese {
  background-image: url(./images/cheese.png);
}
.lettuce {
  background-image: url(./images/lettuce.png);
}
.onions {
  background-image: url(./images/onions.png);
}
.pickles {
  background-image: url(./images/pickles.png);
}
.tomatoes {
  background-image: url(./images/tomatoes.png);
}
.top-bun {
  background-image: url(./images/top-bun.png);
} */
